body {
    background-color: #f9f7fe;
    font-family: 'roboto', sans-serif;
}
a {
    color: #885df1;
}
.container {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 30px;
}  
header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
.search-form {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.search-form-input {
    background-color: #f9f7fe;
    width: 80%;
    border: none;
    border-radius: 6px;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
}
button {
    background-color: #885df1;
    width: 20%;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
}
h1 {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-data {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.weather-data-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 20px;;
}
.humidity, .wind {
    color: #885df1;
    font-weight: 550;
}
.temperature-container {
    display: flex;
}
.emoji {
    font-size: 40px;
    margin-top: 12px;
}
.temperature {
    font-size: 70px;
    margin-left: 10px;
    font-weight: bold;
}
.unit {
    font-size: 28px;
    margin-top: 10px;
}
footer {
    text-align: center;
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}